body{
    margin: 0px;
    padding: 0px;
}

.f1{
    height: 100vh;
    width: 100%;

}

.head{
    height: 64px;
    width: 100%;
    background-image: linear-gradient(black,#000000);
    opacity: 0.6;
    position: fixed;
}



.o1{
    position: relative;
    top: -20px;
}

.o1:hover{
    color: aqua;
}

.o2{
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.o3{
    position: relative;
    left: 470px;
}

.o4{
    position: relative;
    left: 498px;
}

.o5{
    position: relative;
    left: 525px;
}

.o6{
    position: relative;
    left: 550px;
}

.o7{
    position: relative;
    left: 580px;
}

.o8{
    position: relative;
    left: 605px;
}

.o9{
    position: relative;
    left: 635px;
}

.o10{
    position: relative;
    left: 440px;
}

.foot{
    width: 100%;
    height: 260px;
    background-color: black;
    background-image: url(bb.JPG);
    background-repeat: no-repeat;
    background-position: center;
}

.v1{
    width: 100%;
    padding-top: 100px;
    /* margin-top: 50px; */
}

.v2{
    text-decoration: none;
    cursor: pointer;
    color: aqua;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}

.v2:hover{
    color: white;
}

.v3{
    /* padding-left: 20px; */
    margin-left: 37px;
}

.v4{
    margin-left: 798px;
}

.v5{
    width: 100%;
    padding-top: 25px;
}

.fab{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.fab:hover{
    color: aqua;
}

.fab1{
    font-size: 28px;
}

.v6{
    text-decoration: none;
    cursor: pointer;
    color: aqua;
    font-family: Montserrat,sans-serif;
    /* margin-bottom: 20px; */
    /* padding-bottom: 10px; */
}

.v6:hover{
    color: white;
}

.v7{
    margin-left: 16px;
}

.v8{
    margin-left: 877px;
}

.i1{
    width: 100%;
    height: 70px;
}

.i2{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 25px;
    font-family: "Fira Sans", "Open Sans", "Arial", sans-serif;
    font-weight: 700;
}

.f2{
    background-color: aqua;
    width: 100%;
    height: 63px;
}


.f6{
    width: 100%;
    background-color: black;
    height: 100vh;
}

.f3{
    height: 310px;
    width: 487px;
    display: inline-block;
    background-color: bisque;
    margin-top: 10px;
    margin-left: 12px;
    overflow:hidden ;
}

.f4{
    height: 310px;
    width: 487px;
    display: inline-block;
    background-color: bisque;
    margin-left: 10px;
    overflow:hidden ;
}


.f5{
    height: 310px;
    width: 487px;
    display: inline-block;
    background-color: bisque;
    margin-left: 10px;
    overflow:hidden ;
}


.f7{
    height: 310px;
    width: 487px;
    display: inline-block;
    background-color: bisque;
    margin-top: 10px;
    margin-left: 12px;
    overflow:hidden ;
}

.f8{
    height: 310px;
    width: 487px;
    display: inline-block;
    background-color: bisque;
    margin-left: 10px;
    overflow:hidden ;
}

.f9{
    height: 310px;
    width: 487px;
    display: inline-block;
    background-color: bisque;
    margin-left: 10px;
    overflow:hidden ;
}









.j2{
    width: 500%;
    height: 310px;
    display: flex;
    
}

.j2 input{
    display: none;
}

.j3{
    width: 20%;
    transition: 2s;
    
}

.j3 img{
    width: 487px;
    height: 310px;
    
}


.j10{
    position: absolute;
    width: 487px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.j11{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.j11:not(:last-child){
    margin-right: 40px;
}

.j11:hover{
    background: #40D3DC;
}

#radio1:checked ~ .j4{
    margin-left: 0;
}

#radio2:checked ~ .j4{
    margin-left: -20%;
}

#radio3:checked ~ .j4{
    margin-left: -40%;
}

#radio4:checked ~ .j4{
    margin-left: -60%;
}

#radio5:checked ~ .j4{
    margin-left: 0;
}

#radio6:checked ~ .j4{
    margin-left: -20%;
}

#radio7:checked ~ .j4{
    margin-left: -40%;
}

#radio8:checked ~ .j4{
    margin-left: -60%;
}

#radio9:checked ~ .j4{
    margin-left: 0;
}

#radio10:checked ~ .j4{
    margin-left: -20%;
}

#radio11:checked ~ .j4{
    margin-left: -40%;
}

#radio12:checked ~ .j4{
    margin-left: -60%;
}

#radio13:checked ~ .j4{
    margin-left: 0;
}

#radio14:checked ~ .j4{
    margin-left: -20%;
}

#radio15:checked ~ .j4{
    margin-left: -40%;
}

#radio16:checked ~ .j4{
    margin-left: -60%;
}

#radio17:checked ~ .j4{
    margin-left: 0;
}

#radio18:checked ~ .j4{
    margin-left: -20%;
}

#radio19:checked ~ .j4{
    margin-left: -40%;
}

#radio20:checked ~ .j4{
    margin-left: -60%;
}

#radio21:checked ~ .j4{
    margin-left: 0;
}

#radio22:checked ~ .j4{
    margin-left: -20%;
}

#radio23:checked ~ .j4{
    margin-left: -40%;
}

#radio24:checked ~ .j4{
    margin-left: -60%;
}


.j5{
    position: absolute;
    display: flex;
    width: 487px;
    justify-content: center;
    margin-top: 270px;
}

.j5 div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.j5 div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .j5 .j6{
    background: white;
}

#radio2:checked ~ .j5 .j7{
    background: white;
}

#radio3:checked ~ .j5 .j8{
    background: white;
}

#radio4:checked ~ .j5 .j9{
    background: white;
}

#radio5:checked ~ .j5 .j6{
    background: white;
}

#radio6:checked ~ .j5 .j7{
    background: white;
}

#radio7:checked ~ .j5 .j8{
    background: white;
}

#radio8:checked ~ .j5 .j9{
    background: white;
}

#radio9:checked ~ .j5 .j6{
    background: white;
}

#radio10:checked ~ .j5 .j7{
    background: white;
}

#radio11:checked ~ .j5 .j8{
    background: white;
}

#radio12:checked ~ .j5 .j9{
    background: white;
}

#radio13:checked ~ .j5 .j6{
    background: white;
}

#radio14:checked ~ .j5 .j7{
    background: white;
}

#radio15:checked ~ .j5 .j8{
    background: white;
}

#radio16:checked ~ .j5 .j9{
    background: white;
}

#radio17:checked ~ .j5 .j6{
    background: white;
}

#radio18:checked ~ .j5 .j7{
    background: white;
}

#radio19:checked ~ .j5 .j8{
    background: white;
}

#radio20:checked ~ .j5 .j9{
    background: white;
}

#radio21:checked ~ .j5 .j6{
    background: white;
}

#radio22:checked ~ .j5 .j7{
    background: white;
}

#radio23:checked ~ .j5 .j8{
    background: white;
}

#radio24:checked ~ .j5 .j9{
    background: white;
}